.content{

    display: flex;
    width: 100%;
    height: 92vh;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 2px 18px rgba(25, 42, 61, 0.26);
    border-radius: 20px;
    width: 360px; 
    height: 560px; 
    margin: 50px;

}

.mediaCard{
    background: url("grupo.png") center center/cover;
    height: 200px;
    width: 200x;
}

.topCard{
    padding: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottomCard{
    padding: 15px;
}

.actionsCard{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.actions{
    color: black;
    padding: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    text-decoration: none;
    

}

.actions:hover{
    text-decoration: underline;
}


.entrar{
    font-weight: bold;
    text-decoration: none;
    

}

.title{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    
    
}

.grupos{
    display: flex;
    justify-content: center;
 
}

.bottomText{
    text-align: justify;
}

