*{

}

.dropdown{
  height:1.1rem;


}

.dropdown-menu{
  width: 10rem;
  text-align: center;
  color: white;
  position: relative;
  cursor: pointer;
  transition:  all 250ms ease;
}

.dropdown-menu:hover{
  color: white;
  border-radius: 18px;
  background-color: #460397;
}

.dropdown-list{
  list-style-type: none;
  padding: 2px;
}



.item-lista{
  margin: 15px;
  padding: 10px;
  
  border: 1px solid transparent;
}

.item-lista:hover{
  border-radius: 10px;
  border: 1px solid;
}

.item:hover{
  font-size: 18px;
}

