*{
    padding: 0;
    margin: 0;
}

.conteudoprincipal{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 15px;
}

.containerconteudo{
    width: 100%;
    height:700px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 15px;
}

.containerconteudo h2{
    font-size: 30px;
 
}

.conteudopromocional{

    border-width: medium;
    width:70%;
    height: 80%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.conteudonoticias{
    border-style: solid;
    border-width: medium;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background: url('./background.png') center center/cover;
    background-color: rgba(0, 0, 0, 0.685);
    background-blend-mode: color;
}

.conteudonoticias h2{
    color: black;
    position:relative;
    top:0;
    left:0;
    font-size:1.25rem;
    color:#326760;
    line-height:1.8rem;
    
  }




.conteudotexto{
    height: 50%;
    width: 30%;
    border-style: solid;
    border-width: medium;
    text-align: center;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    color: white;
    background: url('./background.png') center center/cover;
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: color;
    
}

.conteudotexto span{
    padding: 10px;
    font-size: 30px;
}

h3{
    color: black;


}



.containerslide{
    width: 100%;
    height: 100%;

   

    justify-content: right;
    margin: 100px;
 
}

.containerslide2{
    width: 100%;
    height: 100%;

}

.containerslide img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.slick-track{
    height: auto;
    width: 100%;    display: flex;

}

.slick-list{

    
}

.slick-dots{
    display: flex;
    align-items: left;
}